<div class="container" style="margin:0 auto;width:500px">
	
	<input type="text" style="width:400px" id="input_url" value="" />&nbsp;<input type="button" value="Convert!" id="button_submit" />
	<div id="loader" style="display:none;width:400px;margin:10px 0"><img src="http://www.markitable.co.nz/images/ajaxLoader.gif" /></div>
	<div class="status" style="display:none;width:400px;margin:10px 0"></div>
	
<div>

<script>

function convert(){
	var status = $$(".status")[0];
	var loader = $("loader");
	status.innerHTML = "";
	status.style.display = "none";
	$("loader").style.display = "block";
	new Ajax.Request('/convert?url='+$('input_url').value,
	  {
	    method:'get',
	    onSuccess: function(transport){ console.log("here1");
		  console.log(transport);
	      var response = transport.responseJSON["msg"];
		  loader.style.display = "none";
	      status.innerHTML = response;
		  status.style.display = "block";
		  Event.observe($("button_submit"),"click",function(){ convert(); });
	    },
	    onFailure: function(){ console.log("here2");
			loader.style.display = "none"; 
			status.innerHTML = response; 
			status.style.display = "block";
			Event.observe($("button_submit"),"click",function(){ convert(); });
		}
	  });
}

Event.observe($("button_submit"),"click",function(){ convert(); });

</script>